* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --pcbg-cl: #fff;
  --pctext-cl: #313131;
  --pcborder-cl: #dedede;
  --pcheading-cl: #313131;
  --pcmeta-cl: #888888;
  --pcaccent-cl: #6eb48c;
  --pctextlight-cl: #fff;
  --pctemplate-bkgnd: #1ea369;
  --pcbody-font: 'Lato', sans-serif;
  --pchead-font: 'Rubik', sans-serif;
  --pchead-wei: bold;
  --pcava_bdr: 10px;
  --pcgap: 4px;
  --bgh: 460px;
  --pc-rs-width: 70%;
  --pc-ls-width: 30%;
  --pcborder-clr: #dedede;
}


ul#market-rates>li>div>a{
  color: #fff;
}

body {
  font-family: var(--pcbody-font);
  color: var(--pctext-cl);
  background-color: var(--pcbg-cl);
}

.mtb-65 {
  margin-top: 65px;
  margin-bottom: 65px;
}

.mb-30 {
  margin-bottom: 30px;
}


header {
  color: var(--pctextlight-cl);
  font-family: var(--pcbody-font);
  font-weight: 300;
  font-size: 13px;
  padding-bottom: 0px;
}

.header-top {
  background-color: var(--pctemplate-bkgnd);
  height: 30px;
}

p {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

a {
  text-decoration: none !important;
  color: var(--pctext-cl) !important;
  font-size: 13px;
  font-weight: 500;
  font-family: var(--pchead-font);
}

a:hover,
a.active {
  color: #1ea369 !important;
}


a>i {
  color: #fff;
}

.nav {
  display: flex;
}

ul {
  list-style: none;
  display: inline-flex;
  color: black;
}

.light-logo {
  max-height: 63px;
  padding: 12px 0px;
}

.dark-logo{
  max-height: 63px;
  padding: 12px 0px;
  width: fit-content;
}

.menu {
  height: 76px;
  padding-top: 0.5rem;
}

.theme {
  border-radius: 57%;
  padding: 4px 7px 4px 7px;
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, .1);
}

#navigation ul.menu>li,
#navigation .menu>ul>li {
  margin-right: 16px;
}

.hero-section {
  gap: var(--pcgap);
  margin-top: 5px;
  display: flex;
  z-index: 1;
  align-items: flex-end;
}

.herosection-column-1 {
  background-image: url(/assets/images/untitled-folder/1586d791-fa72-4df8-ba75-38e36acf1bf2.webp);
  height: var(--bgh);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.herosection-col-2{
  gap: var(--pcgap);
}


.herosection-col-2-row-1-col-1 {
  background-image: url(/assets/images/untitled-folder/8be069a9-ff24-4f0a-a80a-177189573e9a.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: var(--pcgap);
  display: flex;
  align-items: flex-end;
  background-position: bottom;
  height: 228px;
  gap: var(--pcgap);
}


.content {
  position: relative;
  top: 295px;
  padding: 20px;
  z-index: 1;
  display: block;
  width: 100%;
}


.above-category>a>span {
  background-color: #1ea369;
  color: #fff;
  font-size: 11px;
  font-family: var(--pcbody-font);
  padding: 1px 5px;
}

.hero-section-title>h3>a {
  font-size: 25px !important;
  background-color: #fff;
  text-transform: capitalize;
}

.hero-section-right-title a {
  font-size: 18px;
}

.herosection-col-2-row-1-col-1.col-2-content.hero-section-right-title>h3>a {
  font-size: 18px !important;
  line-height: 0.8 !important;
  padding: 20px;
  background-color: #fff !important;
  text-transform: capitalize !important;
}

.col-2-content {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  padding: 20px;
}

.hero-section-right-title>h3 {
  line-height: 0.8;
}

.hero-section-right-title>h3>a {
  background-color: #fff;
  font-size: 17px !important;
}

.latest-news {
  width: var(--pc-rs-width);
}

.sidebar {
  width: var(--pc-ls-width);
  padding: 20px;
}

.section-badge {
  font-size: 13px;
  padding: 7px 15px 7px 13px;
  background-color: var(--pctemplate-bkgnd);
  line-height: 13px;
  display: inline;
  color: var(--pcbg-cl);
}

h3.text-uppercase.section-badge::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 17px solid transparent;
  border-right: 17px solid #fff ;
  position: relative;
  left: 16px;
  top: 11px;
}


.date-bg {
  display: inline;
  background-color: #fff;
  text-transform: capitalize;
  padding: 0px 4px;
  font-family: var(--pcbody-font);
  font-size: 11px;
}

.featured-news {
  padding: 0px 20px 0px 0px;
}

.featured-img {
  margin-bottom: 20px;
}

.featured-title h3 a {
  font-family: var(--pchead-font);
  font-size: 18px;
  line-height: 0.2 !important;
  text-transform: capitalize;
}

.featured-title {
  margin-bottom: 7px;
}

h3 {
  line-height: 0.2;
  font-size: 1.2rem;
}

.date {
  font-size: 12px;
  color: #888;
  font-weight: 400;
  line-height: 18px;
  font-family: var(--pcbody-font);
}

.date.mb-5::after {
  content: "";
  border-bottom: 1px solid #1ea369;
  padding-bottom: 16px;
  width: 60px;
  position: absolute;
}

.excerpt {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  /* change number to control lines */
  overflow: hidden;
  text-overflow: ellipsis;
}

.featured-column-1 {
  padding-bottom: 35px;
  border-bottom: 1px solid #dedede;
}

.horizontal-featured-news.featured-title span a {
  font-size: 14px !important;
}

.live-tv img {
  height: auto !important;
  width: 100% !important;
  object-fit: cover !important;
  object-position: center !important;
  border: none !important;
  border-radius: 50% !important;
}

.live-tv a {
  display: flex !important;
  height: 100px !important;
  width: 100px !important;
}

.live-tv a:hover img {
  -webkit-transform: scale(1.3) !important;
  transform: scale(1.1) !important;
  -webkit-transition: .3s ease-in-out !important;
  transition: .3s ease-in-out !important;
}

.section-1 {
  padding: 20px;
  border: 1px solid var(--pcborder-cl);
}



.sidebar-title {
  background-color: #1ea369;
  font-family: var(--pchead-font) !important;
  margin-bottom: 30px;
}

.sidebar-title,
.title {
  font-family: var(--pchead-font) !important;
  font-weight: 400;
}

span.material-symbols-outlined {
  font-size: 17px;
  font-weight: 300;
  margin-top: 2px;
}


#market-rates li,
#market-rates a {
  font-family: var(--pcbody-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  border-bottom: 1px solid var(--pcborder-clr);
  margin-bottom: 11px;
}

#market-rates li:hover {
  color: #1ea369;
}


#market-rates li:last-child,
#market-rates a:last-child {
  border-bottom: none;
}

table tr:last-child {
  border-bottom: #fff;
}

.facebook {
  width: 30px;
  height: 30px;
  background-color: #0d47a1;
  border-radius: 1px;
  color: #fff;
  padding: 6px;
}

.twitter {
  width: 30px;
  height: 30px;
  background-color: #1da1f2;
  border-radius: 1px;
  color: #fff;
  padding: 6px;
}

.instagram {
  width: 30px;
  height: 30px;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  border-radius: 1px;
  color: #fff;
  padding: 6px;
}

.youtube {
  width: 30px;
  height: 30px;
  background: #FF0000;
  border-radius: 1px;
  color: #fff;
  padding: 6px;
}

.social,
.social-title {
  font-family: var(--pchead-font);
  font-weight: 500;
  font-size: 13px;
  display: inline-block;
  line-height: 2;

  &:hover {
    color: #1ea369;
  }
}

.footer {
  border-top: 1px solid #191919;
  padding: 40px 0px;
}

.columns {
  width: 31%;
  margin-right: 4%;
  margin-bottom: 30px;
}

.footer-title-bottoms {
  border-bottom: 2px solid #333333;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.footer-title {
  font-family: var(--pchead-font);
  font-size: 18px;
  font-weight: 500;
}

.footer-desc {
  font-family: var(--pcbody-font);
  font-size: 14px;
  line-height: 28px;
}

.footer-bottom {
  border-bottom: 1px solid #252525 !important;
}


@media screen and (max-width:1080px) and (min-width: 1920px) {
  .mobile-complete-menu {
    display: none !important;
  }

  p {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
  }
}

@media screen and (max-width:1024px) {

  .featured-title.me-3 {
    font-size: 14px;
  }

  p {
    padding-bottom: 0px;
    margin-bottom: 0px !important;
  }

  i.fa-solid.fa-sun {
    font-size: 13px;
  }

  .theme {
    border-radius: 50%;
    padding: 2px 7px 4px 5px;
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, .1);
    width: 25px;
    height: 25px;
  }

  .content {
    position: relative;
    top: 260px;
    padding: 20px;
    z-index: 1;
    display: block;
    width: 100%;
  }

  .featured-title h3 a {
    font-family: var(--pchead-font);
    font-size: 18px;
    line-height: 0.2 !important;
    text-transform: capitalize;
  }

  .featured-title {
    margin-bottom: 7px;
  }

  .table>:not(caption)>*>* {
    padding: .1rem .1rem !important;
  }

  .columns {
    width: 31%;
    margin-right: 4%;
    margin-bottom: 30px;
  }

}

@media screen and (max-width:768px) {



  .header-top {
    height: 90px;
  }

  .d-flex.d-lg-none.d-block.active {
    margin-top: -91px;
    position: fixed;
    height: 100%;
    width: 100%;
  }


  .sidebar-nav-logo>img {
    width: 100%;
  }

  .mobile-logo {
    display: flex;
    justify-content: center;
  }

  .social-icons {
    display: flex;
    justify-content: center;
  }

  .mobile-logo>img {
    width: 70% !important;
    margin-bottom: 10px;
  }

  li:last-child {
    border: none;
  }

  li {
    border-bottom: 1px solid #dedede;
    padding: 13px 0px 13px 0px;
  }

  ul.list-group {
    margin-left: 30px;
  }

  .social-icons>a {
    margin-right: 13px;
  }

  .mobile-menu {
    position: absolute;
    top: 0px;
  }

  .mobile-complete-menu {
    position: absolute;
    top: 0px;
    height: 100%;
    max-width: 100%;
  }

  .sidebar-nav {
    transform: translateX(-283px);
    visibility: hidden;
    ;
  }

  .sidebar-nav.active {
    width: 250px;
    background-color: #fff;
    padding-top: 20px;
    transform: translateX(0px);
    transition: all ease-in 0.5s;
    visibility: visible;
    z-index: 2;
    position: relative;
  }

  .right-sidebar.active {
    width: 518px;
    background-color: #313131fc;
    transform: translateX(167%);
    transition: all ease-in-out 0.5s;
    transform: translateX(0);
    visibility: visible;
    z-index: 2;
    max-width: 70%;
    position: relative;
  }

  .hero-section {
    gap: var(--pcgap);
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    align-items: flex-end;
    flex-direction: column;
  }

  .container {
    max-width: 100% !important;
  }

  .herosection-col-2-row-1-col-1 {
    background-repeat: no-repeat;
    object-fit: cover;
    margin-bottom: var(--pcgap);
    display: flex;
    align-items: flex-end;
    background-position: bottom;

  }

  .herosection-column-1 {
    height: var(--bgh);
    background-repeat: no-repeat;
    object-fit: cover;
    margin-right: 0 !important;
  }


  .content {
    position: relative;
    top: 272px;
    padding: 20px;
    z-index: 1;
    display: block;
    width: 100%;
  }


  .latest-news {
    width: 100%;
  }

  .featured-title h3 a {
    font-family: var(--pchead-font);
    font-size: 18px;
    line-height: 0.2 !important;
    text-transform: capitalize;
  }

  .featured-title {
    margin-bottom: 7px;
  }

  .columns {
    width: 100%;
    margin-right: 4%;
    margin-bottom: 30px;
  }

}

@media screen and (max-width:576px) {
  .mobile-menu {
    position: absolute;
    top: 0px;
  }

  .container.container-md {
    padding: 0px;
  }

  .mtb-65 {
    margin-top: 59px;
    margin-bottom: 59px;
  }

  .columns {
    width: 100%;
    margin-right: 4%;
    margin-bottom: 30px;
  }

  .right-sidebar.active {
    background-color: #313131fc;
    transform: translateX(167%);
    transition: all ease-in-out 0.5s;
    transform: translateX(0);
    visibility: visible;
    z-index: 2;
    max-width: 60%;
  }

  .sidebar-nav.active {
    background-color: #fff;
    padding-top: 20px;
    transform: translateX(0px);
    transition: all linear 0.5s;
    visibility: visible;
    z-index: 2;
    position: relative;
  }

}